<div class="Pensamento_form_container">
    <a href="/pensamentos/dashboard">Voltar</a>

    <h2>Criando um Pensamento</h2>

    <form action="/pensamentos/add" method="post">

        <div class="div_input">
            <label for="titulo">Pensamento:</label>
            <input type="text" name="titulo" id="titulo" placeholder="Digite o seu pensamento..." required>
        </div>

        <input type="submit" value="Criar Pensamento" class="btn">

    </form>

</div>