*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: #fff;
}

/* MENU */

#logo{
    width: 100px;
}

#navbar{
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 2px solid #09d3ee;
    border-radius: 20px;
}

#navbar ul{
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#navbar a{
    text-decoration: none;
    font-size: 18px;
    transition: .5s;
}
#navbar ul li a:hover{
   color:#09d3ee;
}

/* CONTAINER */
.container{
    min-height: 60vh;
    padding: 10px;
}


/* FOOTER */
footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid #09d3ee ;
}
footer span{
    font-weight: bold;
    color: #09d3ee;
}